

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


@media (max-width: 320px) {
  .video {
    margin-top: 100px;
  }
}

#containers {
  width: 90%;
  height: 100%;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-gap: 60px;
  padding: 35px 0;
}

.contentLeft,
.contentRight {
  width: 100%;
}

.contentLeft #rows {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.contentLeft #rows .imgWrapper {
  width: 100%;
  height: 450px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.15);
}

.contentLeft #rows .imgWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
  transition: 0.3s ease;
}

.contentLeft #rows .imgWrapper:hover img {
  transform: scale(1.5);
}

.contentLeft #rows .imgWrapper:nth-child(odd) {
  transform: translateY(-20px);
}

.contentLeft #rows .imgWrapper:nth-child(even) {
  transform: translateY(20px);
}

.contentRight .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.contentRight .content h4 {
  font-size: 22px;
  font-weight: 400;
  color: rgb(24, 131, 24);
  /* font-family:  'Mea Culpa',  "Playwrite MX","Playwrite CO", 'pacifico'; */

}

.contentRight .content h2 {
  font-size: 40px;
  color: #1e272e;
  font-family: 'pacifico';
  color: #be853a;
}

.contentRight .content p {
  font-size: 16px;
  color: #343434;
  line-height: 28px;
  padding-bottom: 10px;
  text-align: justify;
  font-family: 'pacifico';
  color: rgb(57, 119, 57);

}

.contentRight .content a {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 13px 30px;
  color: #fff;
  background: linear-gradient(360deg, #1e6853, #1ca23c);
  border-radius: 100px;
  box-shadow: 3px 5px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  user-select: none;
}

.contentRight .content a::before {
  content: '';
  position: absolute;
  top: 0%;
  left: -20%;
  width: 100%;
  height: 47px;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
  transition: .5s;
  visibility: hidden;
  border-radius: 40px;
}

.contentRight .content a:hover:before {
  left: 20%;
  visibility: visible;
}

@media(max-width: 768px) {
  #containers {
    grid-template-columns: 1fr;
  }

  .contentLeft #rows {
    grid-template-columns: repeat(2, 1fr);
  }

  .contentLeft #rows .imgWrapper {
    height: 150px;
  }

  .contentRight .content h4 {
    font-size: 18px;
  }

  .contentRight .content h2 {
    font-size: 30px;
  }
}


.wrappers .title {
  text-align: center;
  
}

.title h4 {
  display: inline-block;
  padding: 20px;
  color: #be853a;
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 1.2px;
  word-spacing: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  text-transform: uppercase;
  backdrop-filter: blur(15px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  font-style: italic;
}

.wrappers .card_Container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0;
}

.card_Container .cards {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 20px;
  overflow: hidden;
  box-shadow: 0 30px 30px -20px rgba(0, 0, 0, 1),
    inset 0 0 0 1000px rgba(67, 52, 109, .6);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards .imbBx,
.imbBx img {
  width: 100%;
  height: 100%;
}

.cards .content {
  position: absolute;
  bottom: -160px;
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(15px);
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  transition: bottom 0.5s;
  transition-delay: 0.65s;
}

.cards:hover .content {
  bottom: 0;
  transition-delay: 0s;
}

.content .contentBx h3 {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 15px;
  line-height: 1.1em;
  transition: 0.5s;
  transition-delay: 0.6s;
  opacity: 0;
  transform: translateY(-20px);

}

.cards:hover .content .contentBx h3 {
  opacity: 1;
  transform: translateY(0);
}

.content .contentBx h3 span {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
 

}

.content .sci {
  position: relative;
  bottom: 10px;
  display: flex;
}

.content .sci li {
  list-style: none;
  margin: 0 10px;
  transform: translateY(40px);
  transition: 0.5s;
  opacity: 0;
  transition-delay: calc(0.2s * var(--i));
}

.cards:hover .content .sci li {
  transform: translateY(0);
  opacity: 1;
}

.content .sci li a {
  color: #fff;
  font-size: 24px;
  position: relative;
  left: -20px;
}

/* Testi Slider */
/* .testi{
  width: 100%;
  height: 100vh;
  background: linear-gradient(100deg, rgba(53, 144, 48, 0.628), rgba(8, 8, 8, 0.37)), url('../Images/Section/1.webp');
  position: relative;
}
.veiw-box{
  width: 800px;
  height: 550px;
  border-radius: 220px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;    
}
#testimonials{
  display: flex;
  transition: 0.5s;
}
.user{
  width: 800px;
  text-align: center;
  padding: 20px 70px;
  box-sizing: border-box;
  background: #169329;
  border-radius: 200px;
  box-shadow: 0 10px 20px -5px #00000061;
  position: relative;
}

.space{
  margin: 0 70px;
}
.user img{
  width: 120px;
  border-radius: 50%;
  border: 10px solid #e8ecff;
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
}
.user p{
  font-size: 22px;
  color: #cbb4f5;
  line-height: 28px;
  text-align: center;
  margin: 60px 0 30px;
}
/* .user p::before{
  content: '\201C';
  font-size: 120px;
  height: 0;
  display: inline-block;
  vertical-align: -57;
  margin-right: 10px;
}
.user p::after{
  content: '\201D';
  font-size: 120px;
  height: 0;
  display: inline-block;
  vertical-align: -70;
  margin-left: 10px;
} 
.user h3{
  font-size: 26px;
  color: #cbb4f5;
}
.controls{
  display: flex;
  position: absolute;
  bottom: 0;
  top: 480px;
  left: 50%;
  transform: translateX(-50%);
}
.controls span{
  width: 15px;
  height: 15px;
  background: #108b1e;
  border-radius: 15px;
  margin: 0 5px;
  cursor: pointer;
  transition: 0.5s; 
}
.active{
  width: 45px !important;
} */



/* ===================== Footer =====================*/

.contai{
	max-width: 1170px;
	margin:auto;
   
    
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	  background-color: rgb(0, 0, 0);
    padding: 70px 0;
    /* margin-top: 20px; */
    
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: rgb(1, 255, 1);
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
  padding-left: 30px;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: rgb(1, 140, 1);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
  margin-left: 30px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: rgb(246, 255, 246);
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: rgb(0, 164, 0);
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255, 255, 255, 0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #f3f5fa;
	background-color: rgb(31, 138, 31);
}



/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}

}


span{
     
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 /* ===================== Footer =====================*/